# SECTION 07 HW 
## Dakotah Hyslop

## --7.1 HW Questions------------------------------------------------------------------------------------------------------

#### 1. Using EVregistry, Write a query to select the `ModelYear`, `Make`, and `Model` off all of the vehicles in the registry.

#### 1. - SQL Answer)

SELECT ModelYear, Make, Model
FROM EVRegistry

#### 2. Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, `ElectricVehicleType`.

#### 2. - SQL Answer)

SELECT ElectricVehicleType
FROM EVRegistry

#### 3. Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry. 

#### 3. - SQL Answer)

SELECT *
FROM EVRegistry
WHERE ElectricVehicleType like "%BEV%"

#### 4. Using the EVRegistry, wirte a query that returns the `Make` and `Model` of all of the EV's that have a BaseMSRP between 20000 and 35000?  

#### 4. - SQL Answer)

SELECT Make, Model, BaseMSRP
FROM EVRegistry 
where BaseMSRP BETWEEN "20000" AND "35000"

## --7.2 HW Questions------------------------------------------------------------------------------------------------------

#### 1. Using EVRegistry, write a query to find a record  where the `City` attribute is NULL. Return all of the available columns. 

#### 1. - SQL Answer)

SELECT *
from EVRegistry
WHERE City = NULL

#### 2. Write a query to find the `make`, `model`, and `ElectricVehicleType` where the VIN number has  that ends in '3E1EA1J'.

#### 2. - SQL Answer)

SELECT Make, Model, ElectricVehicleType, VIN
from EVRegistry
where VIN like "%3E1EA1J"

#### 3. Select the `ModelYear`, `make`, `model`, `ElectricVehicleType`, and `range` of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest. 

#### 3. - SQL Answer)

SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange
from EVRegistry
WHERE Make = "TESLA" or Make =  "CHEVROLET"
ORDER by Make, ModelYear DESC

#### 4. Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records.

#### 4. - SQL Answer)

SELECT stationId, count(userId) as "Times Station Was Used"
FROM EVCharging
GROUP BY stationId
ORDER BY count(userID) DESC
LIMIT 5

#### 5.  Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively. 

#### 5. - SQL Answer)

SELECT userId, min(chargeTimeHrs) as "minTime", max(chargeTimeHrs) as "maxTime"
FROM EVCharging
WHERE chargeTimeHrs > 0.5
GROUP by userId
ORDER by 2, 3

## --7.3 HW Questions------------------------------------------------------------------------------------------------------

#### 1. Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points. 

#### 1. - SQL Answer)

SELECT weekday, round(avg(chargeTimeHrs),2)
FROM EVCharging
GROUP by weekday
ORDER by avg(chargeTimeHrs) DESC
LIMIT 1

#### 2. Using, EV charging, Find the total power consumed from charging EV's by each User. Return the `userId` and name the calculated column, `totalPower`. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users. 

#### 2. - SQL Answer)

SELECT userId, round(sum(kwhTotal), 2) as "totalPower"
from EVCharging
group by userId
ORDER by 2 DESC
LIMIT 15

#### 3. Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return `type Facility` and name the calculated column `numStation`. Order the result set from highest to lowest number of charging stations.

#### 3. - SQL Answer)

SELECT FacilityKey, facilityID, typeFacility, count(stationId) as "numStation"
FROM factCharge
INNER JOIN dimFacility
ON factCharge.facilityID = dimFacility.FacilityKey
GROUP by typeFacility
ORDER by 4 DESC

#### 4. In your own words, Briefly explain Primary Keys and Foreign Keys. 

#### 4. - Answer)

Primary keys are unique identifiers that identify each original row within a database and contain no NULL values. Foreign keys are a direct value reference to primary keys and can be renamed.

#### 5. Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively. HINT: USE `HAVING`

#### 5. - SQL Answer)

SELECT userId, min(chargeTimeHrs) as "min Time", max(chargeTimeHrs) as "max Time"
FROM EVCharging
GROUP by userId
HAVING chargeTimeHrs > 1
ORDER by 2,3 DESC