#Dakotah Hyslop
##Week5-Homework

In [72]:
print('\033[1m'+"1. What does Pandas stand for?")

1. What does Pandas stand for?

- Panel Data

In [75]:
print('\033[1m'+"2. What are the 2 collections used in Pandas?")

2. What are the 2 collections used in Pandas?

- DataFrames and Series.

In [76]:
print('\033[1m'+"3. Name 4 things Pandas can do for us.")

3. Name 4 things Pandas can do for us.

- Data cleansing, Data normalization, Data visualization, and Data inspection.

In [84]:
print('\033[1m'+"4. To permanently sort a DataFrame, which keyword should one use with the df.sort method?")

4. To permanently sort a DataFrame, which keyword should one use with the df.sort method?

- "by"

In [85]:
print('\033[1m'+"5. What is a CSV?")

5. What is a CSV?

- A CSV(comma seperated files) is a file that can store big data sets containing plain text.

In [86]:
print('\033[1m'+"6. When cleaning data what values do we not like in our data?")

6. When cleaning data what values do we not like in our data?

- Missing, wrong, or corrupt data values.

In [18]:
"""
7. Import NumPy, use one of the NumPy methods and create an array with a shape of ... (2, 3, 2). 
You can use the reshape method -- .reshape()
"""

import numpy as np
first_Array = np.array(
    [
        [[1, 2], [3, 4], [5, 6]],
        [[1, 2], [3, 4], [5, 6]],
    ]
)
reshaped_Array = first_Array.reshape(2, 3, 2)
print("\nreshaped_Array:  \n", reshaped_Array)

reshaped_Array:
 [[[1 2]
  [3 4]
  [5 6]]

 [[1 2]
  [3 4]
  [5 6]]]

In [34]:
"""
8. Use NumPy .linspace() to create an array with 6 linearly spaced values between 0 and 20
"""
another_Array = np.linspace(0, 20, num=6,)
print(another_Array)

[ 0.  4.  8. 12. 16. 20.]

In [39]:
"""
9. Make a Deep Copy of the above array
"""
import copy
deepest_cpy_Array = copy.deepcopy(another_Array)

print("deepest_cpy_Array\n", deepest_cpy_Array)
print("another__Array\n", another_Array)

deepest_cpy_Array
 [ 0.  4.  8. 12. 16. 20.]
another__Array
 [ 0.  4.  8. 12. 16. 20.]

In [50]:
"""
11. Concatenate these 3 arrays into a new array named 'newArray'...

        ([[25, 16]])
        ([[11, 2], [13, 4]])
        ([[7, 81], [5, 6], [11, 12]])
"""

one_Array = np.array([[25, 16]])
two_Array = np.array([[11, 2], [13, 4]])
three_Array = np.array([[7, 81], [5, 6], [11, 12]])

newArray = np.concatenate((one_Array, two_Array, three_Array))
print("newArray   ", con_cat_Array)

newArray... [[25 16]
 [11  2]
 [13  4]
 [ 7 81]
 [ 5  6]
 [11 12]]

In [72]:
"""
12. Sort 'newArray' in order into 'sortedArray'
"""
sortedArray = newArray
print("sortedArray...\n", np.sort(sortedArray, axis=0, kind=None, order=None))

sortedArray...
 [[ 5  2]
 [ 7  4]
 [11  6]
 [11 12]
 [13 16]
 [25 81]]

In [90]:
"""
13. Reshape the 'sortedArray' array, into a new array called 'reshapedArray', so it has 2 dimensions with a size of 2, 3.
"""
#(2, 2, 3)

reshapedArray = sortedArray

reshapedArray = np.reshape(sortedArray, (2, 2, 3))
print("\nreshapedArray ...\n", reshapedArray)

reshapedArray ...
 [[[25 16 11]
  [ 2 13  4]]

 [[ 7 81  5]
  [ 6 11 12]]]

In [121]:
"""
14. Unpack the array tuples from the above 'reshapedArray' into 4 well named variables. Print the 4 variables.
"""
[[[a, b, c],
  [ d, e,  f,]],

 [[ g, h,  i,],
  [ j, k, l]]] = reshapedArray


var_1 = (a, b, c)
var_2 = (d, e, f)
var_3 = (g, h, i)
var_4 = (j, k, l)


print("var_1 = ", var_1)
print("var_2 = ", var_2)
print("var_3 = ", var_3)
print("var_4 = ", var_4)

var_1 =  (25, 16, 11)
var_2 =  (2, 13, 4)
var_3 =  (7, 81, 5)
var_4 =  (6, 11, 12)

In [7]:
"""
15. Combined and sort the following arrays into one called 'comboArray' ...

    one = ([10, 11, 12, 13, 14, 15, 16, 17])
    two = ([20, 21, 22, 23, 24, 25, 26, 27])
    three = ([ 0, 1, 2, 3, 4, 5, 6, 7])
"""
import numpy as np
onee_Array = np.array([10, 11, 12, 13, 14, 15, 16, 17])
twoo_Array = np.array([20, 21, 22, 23, 24, 25, 26, 27])
threee_Array = np.array([ 0, 1, 2, 3, 4, 5, 6, 7])

comboArray = np.concatenate((onee_Array, twoo_Array, threee_Array))
print("comboArray   ", comboArray)

print("sorted_combo_Array...\n", np.sort(comboArray, axis=0, kind=None, order=None))

comboArray    [10 11 12 13 14 15 16 17 20 21 22 23 24 25 26 27  0  1  2  3  4  5  6  7]
sorted_combo_Array...
 [ 0  1  2  3  4  5  6  7 10 11 12 13 14 15 16 17 20 21 22 23 24 25 26 27]

In [33]:
"""
16. Take 'comboArray' and perform the following slicing activities:
"""
# print sec1 - the 2nd element
data = np.sort(comboArray, axis=0, kind=None, order=None)

sec1 = data[1]
print("sec1: ", sec1)
 
# print sec2 - all elements from the 3rd element to the last

sec2 = data[-3:]
print("sec2: ", sec2)

# print sec3 - all elements from the 4th to the 14th elements

sec3 = data[3:14]
print("sec3: ", sec3)

# print sec4 - the last 6 elements

sec4 = data[-6:]
print("sec4: ", sec4)

# print sec5 - all element from #0 up to and including #15, using the negative number method,i.e. taking a section from the end.

sec5 = data[:-10]
print("sec5: ", sec5)

# print sec6 - from #20 every even element to the end

even = []
for i in data[20:]:
        if i % 2 == 0:
            even.append(i)
sec6 = even
print("sec6: ", sec6)

# print sec7 - from the last element moving forward, every 5th element.
# If you meant moving backward.
fifth = []
for i in data[-1::-5]:
            fifth.append(i)
sec7 = fifth
print("sec7: If you meant moving backward. ", sec7)

# If you meant from the first
fifth = []
for i in data[::5]:
            fifth.append(i)
sec7 = fifth
print("sec7: If you meant from the first ", sec7)


print(data)

sec1:  1
sec2:  [25 26 27]
sec3:  [ 3  4  5  6  7 10 11 12 13 14 15]
sec4:  [22 23 24 25 26 27]
sec5:  [ 0  1  2  3  4  5  6  7 10 11 12 13 14 15]
sec6:  [24, 26]
sec7: If you meant moving backward.  [27, 22, 15, 10, 3]
sec7: If you meant from the first  [0, 5, 12, 17, 24]
[ 0  1  2  3  4  5  6  7 10 11 12 13 14 15 16 17 20 21 22 23 24 25 26 27]

In [58]:
"""
20. Using Series, create a DataFrame that looks like this:

Ingredients	Quantity	Unit
Flour	4	cups
Milk	1	cup
Eggs	2	large
Spam	1	can
Name: Dinner, dtype: object
"""
import pandas as pd
ingredients_a = pd.Series(["Flour", "Milk", "Eggs"])
ingredients_b = pd.Series(["Spam"])
all_ingredients = pd.DataFrame(ingredients_a.append(ingredients_b,
                                                    ignore_index = True),
                               columns=["Ingredients"])
# print(all_ingredients)

quantity_a = pd.Series([4,1,2])
quantity_b = pd.Series([1])
all_quantities = pd.DataFrame(quantity_a.append(quantity_b,
                                                    ignore_index = True),
                               columns=["Quantity"])
# print(all_quantities)


unit_a = pd.Series(["cups", "cup", "large"])
unit_b = pd.Series(["can"])
all_units = pd.DataFrame(unit_a.append(unit_b,
                                                    ignore_index = True),
                               columns=["Units"])
# print(all_units)


# Combine multiple Series
dinner = pd.concat([all_ingredients, all_quantities, all_units], axis=1)
print("\n     Dinner Ingredients List   \n", dinner)

     Dinner Ingredients List
   Ingredients  Quantity  Units
0       Flour         4   cups
1        Milk         1    cup
2        Eggs         2  large
3        Spam         1    can

C:\Users\hyslo\AppData\Local\Temp\ipykernel_14572\2471438544.py:14: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_ingredients = pd.DataFrame(ingredients_a.append(ingredients_b,
C:\Users\hyslo\AppData\Local\Temp\ipykernel_14572\2471438544.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_quantities = pd.DataFrame(quantity_a.append(quantity_b,
C:\Users\hyslo\AppData\Local\Temp\ipykernel_14572\2471438544.py:29: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_units = pd.DataFrame(unit_a.append(unit_b,

In [36]:
"""
21. Take this data and create a DataFrame named studentData

    {'Name': ['Jai', 'janusha', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
        'address': ['Delhi', 'Doha', 'Chennai', 'Dakhar'],
        'Age': [21, 23, 24, 21],
        'Pets': ['Dog', 'Bunny', 'Chinchilla', 'Parrot'],
        'sport': ['Darts', 'Basketball', 'PaddleBoarding', 'Cricket']
"""

import pandas as pd
data_dict = {'Name': ['Jai', 'janusha', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
        'address': ['Delhi', 'Doha', 'Chennai', 'Dakhar'],
        'Age': [21, 23, 24, 21],
        'Pets': ['Dog', 'Bunny', 'Chinchilla', 'Parrot'],
        'sport': ['Darts', 'Basketball', 'PaddleBoarding', 'Cricket']
    }

studentData = pd.DataFrame(data_dict)
studentData

      Name  Height Qualification  address  Age        Pets           sport
0      Jai     5.1           Msc    Delhi   21         Dog           Darts
1  janusha     6.2            MA     Doha   23       Bunny      Basketball
2   Gaurav     5.1           Msc  Chennai   24  Chinchilla  PaddleBoarding
3     Anuj     5.2           Msc   Dakhar   21      Parrot         Cricket

In [59]:
"""
22. Add a new column to the DataFrame with the following deserts: ["ice cream", "Cashew Fudge", "waffels", "Carrot Halwa"]
"""
deserts = ["ice cream", "Cashew Fudge", "waffels", "Carrot Halwa"]
studentData["Deserts"] = deserts
studentData

,Name,Height,Qualification,address,Age,Pets,sport,Deserts
0,Jai,5.1,Msc,Delhi,21,Dog,Darts,ice cream
1,janusha,6.2,MA,Doha,23,Bunny,Basketball,Cashew Fudge
2,Gaurav,5.1,Msc,Chennai,24,Chinchilla,PaddleBoarding,waffels
3,Anuj,5.2,Msc,Dakhar,21,Parrot,Cricket,Carrot Halwa

In [62]:
"""
23. Sort the 'studentData' DataFrame in Ascending order -- Sorting by column 'Name' and then "address"
"""
studentData.sort_values(by = ["Name", "address"], inplace=True,ascending = True)
studentData

,Name,Height,Qualification,address,Age,Pets,sport,Deserts
3,Anuj,5.2,Msc,Dakhar,21,Parrot,Cricket,Carrot Halwa
2,Gaurav,5.1,Msc,Chennai,24,Chinchilla,PaddleBoarding,waffels
0,Jai,5.1,Msc,Delhi,21,Dog,Darts,ice cream
1,janusha,6.2,MA,Doha,23,Bunny,Basketball,Cashew Fudge

In [67]:
"""
24. Save this DataFrame here below to disc as a .CSV file with the name cows_and_goats.csv:

    df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
"""
import pandas as pd

df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
df
df.to_csv("cows_and_goats.csv")

In [71]:
"""
25. (A) Using Pandas, make your own .CSV file with data on vegetables and save it. 
(B) Using Pandas, make a change to your CSV file, and save a copy with a different name.
"""
print("A")
import pandas as pd
vegdf = pd.DataFrame({'Potatoes': [3, 1], 'Carrots': [4, 5]}, index=['Jill', 'Jack'])
vegdf
vegdf.to_csv("jill_jack_vegis.csv")


print("B")
vegdf = pd.read_csv("jill_jack_vegis.csv")
print(vegdf)
  
# updating the column value/data
vegdf.loc[1, 'Potatoes'] = '69'
  
# writing into the file
vegdf.to_csv("jill_jack_fixed_vegis.csv", index=False)
  
print(vegdf)

A
B
  Unnamed: 0  Potatoes  Carrots
0       Jill         3        4
1       Jack         1        5
  Unnamed: 0 Potatoes  Carrots
0       Jill        3        4
1       Jack       69        5