Homework 3.1
What is an algorithm? - An algorithm is a series of steps to solve a problem at hand

Variable names may not start with certain characters - name two. - 2name, $name

What is a Semantic error? code is grammatically correct but doesn't make any sense; it does not produce the expected results. E.g. 5+5 = 17

What is the #1 rule of coding / debugging? Complexity is the enemy of efficiency!

List 5 Python reserved words. - and, as, assert, break, for

In [20]:
#1.
# My name is Dakotah Hyslop
# My favorite food is a Chipotle steak bowl
# My dream job is to be a Financial analyst consultant

#2.
d = "Dakotah"
n = (12)
f = (12.5)
fave_foods = ["chipotle", "sushi", "greek food"]
_job = "financial analyst"

print(d, n, f, fave_foods, _job)
print(len(d))
print(len(fave_foods))
print(_job[3])      #4th character is the 3rd index

#3.
savvy = "Learning Data Analytics and Python is Awesome!"
range(5, 23)
new_string = savvy.replace("Awesome", "great")

print(savvy)
print(new_string)

#4.
miniBio = "Hi my name is {}, I am {} and {} old today."
print(miniBio.format("Dakotah", "30", "72 inches"))
x = float("30")
print(x)

Dakotah 12 12.5 ['chipotle', 'sushi', 'greek food'] financial analyst
7
3
a
Learning Data Analytics and Python is Awesome!
Learning Data Analytics and Python is great!
Hi my name is Dakotah, I am 30 and 72 inches old today.
30.0

Homework 3.2

In [83]:
#10.
f = [20, 20.5, "hello", "True", "range(1,3)"]
f[0] = 50
print(f)
f.append('animal')
print(f)
f_f = ['are', 'to', 'they', 'house']
f.append(f_f)
print(f)
size = len(f)
print(size)

f = [20, 20.5, "hello", "True", "range(1,3)"]
f_f = ['are', 'to', 'they', 'house']

f.extend(f_f)
print("Extended f ... ", f)
print(f_f)

f_f_f = f + f_f
print("newly added f...", f_f_f )

simList = [96, 30.5, "True", range(4), int(7)]
print(simList)

simList = [96, 30.5, 70, 30, 57]
simList.sort(reverse=True)
print("Sorted simList in reverse - ", simList)

pirateList = ["Bernard", "Johnson", "Tucan", "Parrot"]
simList.extend(pirateList)
print("Extended simList ... ", simList)
print(pirateList)
pirateList = simList + pirateList
print("newly added pirateList...", pirateList )
skyscrapperList = ["eifel_tower", "world_trade_center", "Rockefeller_center", "Burj_Khalifa"]
longList = skyscrapperList + pirateList
print("newly added skyscrapperList... ", longList)

[50, 20.5, 'hello', 'True', 'range(1,3)']
[50, 20.5, 'hello', 'True', 'range(1,3)', 'animal']
[50, 20.5, 'hello', 'True', 'range(1,3)', 'animal', ['are', 'to', 'they', 'house']]
7
Extended f ...  [20, 20.5, 'hello', 'True', 'range(1,3)', 'are', 'to', 'they', 'house']
['are', 'to', 'they', 'house']
newly added f... [20, 20.5, 'hello', 'True', 'range(1,3)', 'are', 'to', 'they', 'house', 'are', 'to', 'they', 'house']
[96, 30.5, 'True', range(0, 4), 7]
Sorted simList in reverse -  [96, 70, 57, 30.5, 30]
Extended simList ...  [96, 70, 57, 30.5, 30, 'Bernard', 'Johnson', 'Tucan', 'Parrot']
['Bernard', 'Johnson', 'Tucan', 'Parrot']
newly added pirateList... [96, 70, 57, 30.5, 30, 'Bernard', 'Johnson', 'Tucan', 'Parrot', 'Bernard', 'Johnson', 'Tucan', 'Parrot']
newly added skyscrapperList...  ['eifel_tower', 'world_trade_center', 'Rockefeller_center', 'Burj_Khalifa', 96, 70, 57, 30.5, 30, 'Bernard', 'Johnson', 'Tucan', 'Parrot', 'Bernard', 'Johnson', 'Tucan', 'Parrot']

In [121]:
#11.
f_tuple = (20, 20.5, "hello", "True", "range(1,3)")
timesTuple = f_tuple * 3
print("timesTuple ...", timesTuple)
r_tuple = ("hello", 31, 45.55, "Bears", "Taxi Driver",)
fr_tuple = f_tuple + r_tuple
frtimes_tuple = fr_tuple * 3
print("frtimes_tuple ...", frtimes_tuple)

print(frtimes_tuple[12])

sec_r_tuple = (9, 9 , 7, 5 ,19, 5)
sortup_ = tuple(sorted(sec_r_tuple))  
print('Sorted Tuple :', sortup_)  

third_tuple = sec_r_tuple[0:4]
print(third_tuple)

(var_one, var_two, var_three, var_four) = third_tuple
print(var_one)
print(var_four)
print(var_two)
print(var_three)

four_tuple = (50)
print(four_tuple)

fifth_tuple = sec_r_tuple + third_tuple
print(fifth_tuple)

timesTuple ... (20, 20.5, 'hello', 'True', 'range(1,3)', 20, 20.5, 'hello', 'True', 'range(1,3)', 20, 20.5, 'hello', 'True', 'range(1,3)')
frtimes_tuple ... (20, 20.5, 'hello', 'True', 'range(1,3)', 'hello', 31, 45.55, 'Bears', 'Taxi Driver', 20, 20.5, 'hello', 'True', 'range(1,3)', 'hello', 31, 45.55, 'Bears', 'Taxi Driver', 20, 20.5, 'hello', 'True', 'range(1,3)', 'hello', 31, 45.55, 'Bears', 'Taxi Driver')
hello
Sorted Tuple : (5, 5, 7, 9, 9, 19)
(9, 9, 7, 5)
9
5
9
7
50
(9, 9, 7, 5, 19, 5, 9, 9, 7, 5)

In [141]:
#12.
set = {"blueberries", "pineapple", "strawberries"}
fruit_list = ("blueberries", "pineapples", "pears")
set.add(fruit_list)
print("updated set: ", set)
set.add("Jeep")
print("updated set: ", set)

second_set = {"horse", "Lambo", "gun", "table"}
third_set = set.union(second_set)
print(third_set)

random = third_set.pop()
print("current third_set:  ", third_set)

set.clear()
print(set)

third_set.remove("Lambo")
third_set.discard("Jeep")
print(third_set)

updated set:  {'strawberries', 'pineapple', 'blueberries', ('blueberries', 'pineapples', 'pears')}
updated set:  {'pineapple', 'Jeep', 'strawberries', 'blueberries', ('blueberries', 'pineapples', 'pears')}
{'pineapple', 'Jeep', 'Lambo', 'table', 'strawberries', 'gun', 'blueberries', 'horse', ('blueberries', 'pineapples', 'pears')}
current third_set:   {'Jeep', 'Lambo', 'table', 'strawberries', 'gun', 'blueberries', 'horse', ('blueberries', 'pineapples', 'pears')}
set()
{'table', 'strawberries', 'gun', 'blueberries', 'horse', ('blueberries', 'pineapples', 'pears')}

In [158]:
#13.
Dict = {1: 'farm', 2: 5, 3: 50.5, 4: ("o", "p"), 5: None}
print("\nDictionary with the use of 5 values of different data types: ")
print(Dict)

print(Dict[1])

Dict[1] = "Dakotah"
print(Dict)

Dict[6] = "grass"
print(Dict)

pizza_topping_list = ["pep", "mushroom", "peppers", "cheese"]
Dict[7] = pizza_topping_list
print(Dict)

print(Dict.keys())

print(Dict.values())


Dict_2 = Dict.copy()
print(Dict_2)

Dict_2.pop(1)
print(Dict_2)

Dict_2.clear()
print(Dict_2)

Dictionary with the use of 5 values of different data types:
{1: 'farm', 2: 5, 3: 50.5, 4: ('o', 'p'), 5: None}
farm
{1: 'Dakotah', 2: 5, 3: 50.5, 4: ('o', 'p'), 5: None}
{1: 'Dakotah', 2: 5, 3: 50.5, 4: ('o', 'p'), 5: None, 6: 'grass'}
{1: 'Dakotah', 2: 5, 3: 50.5, 4: ('o', 'p'), 5: None, 6: 'grass', 7: ['pep', 'mushroom', 'peppers', 'cheese']}
dict_keys([1, 2, 3, 4, 5, 6, 7])
dict_values(['Dakotah', 5, 50.5, ('o', 'p'), None, 'grass', ['pep', 'mushroom', 'peppers', 'cheese']])
{1: 'Dakotah', 2: 5, 3: 50.5, 4: ('o', 'p'), 5: None, 6: 'grass', 7: ['pep', 'mushroom', 'peppers', 'cheese']}
{2: 5, 3: 50.5, 4: ('o', 'p'), 5: None, 6: 'grass', 7: ['pep', 'mushroom', 'peppers', 'cheese']}
{}